.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  height: 90px;
}

.icon img{
  height: 30px;
  /* margin: auto; */
  padding: 5px;
}

.social-icon{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer .section{
  margin-bottom: 20px;
}