.head{
  background-color: #426DA8;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  padding: 15px;
}



.navigation-section{   
  background-color: #4873B1;
}
.home-icon{
  font-size: 2rem;
}